<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../scripts/verifyDemo.js" type="text/javascript"></script>
<script src="../scripts/verifyUtil.js" type="text/javascript"></script>
<title>verify</title>
</head>
<body>
<div>
<label for="email">Email:<input id="email" type="text" size="35" /></label>
<label for="password">Password:<input id="password" type="password" size="35" /></label>
<button id="b" type="button" >Click here</button>
</div>
<div id="display"></div>
</body>
</html>