@charset "utf-8";
/* CSS Document */

.closetabbtn {
	margin-top: -18px;
	margin-right: -9px;
}
#down_content {
	margin-left: auto;
	margin-right: auto;
	padding-top:30px;
	padding-left:10px;
	padding-right:10px;
	width: 815px;
}

#myTabContent
{
	padding-bottom:20px;
}
#simple_search
{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}
#course_list {
	margin-left:0px;
	margin-top:0px;
	width:150px;
	height:240px;
	overflow:auto;
}
.name_in_list.activecourse, .name_in_list.activecourse:hover
{
	color:#FFF;
	font-family:KaiTi;
	font-size:23px;
	width:143px;
	height:30px;
	padding-top:9px;
	text-align:center;
	cursor:pointer;
	margin-top:2px;
	border-radius:5px;
	background-color:#03C;
}

#search_btn
{
	color:#FFF;
	font-family:KaiTi;
	font-size:23px;
	width:283px;
	height:40px;
	padding-top:9px;
	text-align:center;
	cursor:pointer;
	margin-top:2px;
	border-radius:5px;
	background-color:#06F;
	
/*	background:url(../images/search.png);
	background-repeat:no-repeat;
   background-size:50px;*/
}

.name_in_list
{
	color:#000;
	font-family:KaiTi;
	font-size:23px;
	width:143px;
	height:30px;
	padding-top:9px;
	text-align:center;
	cursor:pointer;
	margin-top:2px;
	border-radius:5px;
	background-color:#e6e6e6;
}

.name_in_list:hover
{
	color:#000;
	font-family:KaiTi;
	font-size:23px;
	width:143px;
	height:30px;
	padding-top:9px;
	text-align:center;
	cursor:pointer;
	margin-top:2px;
	border-radius:5px;
	background-color:#d0d0d0;
}

#adv_search_bar
{
	background-image:url(../images/adv_search_bar_a.png);
	background-repeat:no-repeat;
	padding-left:50px;
	padding-top:3px;
	width:785px;
	height:35px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	color:#FFFFFF;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#adv_search_bar.active_bar
{
	background-image:url(../images/adv_search_bar_b.png);
	background-repeat:no-repeat;
	padding-left:50px;
	padding-top:3px;
	width:785px;
	height:35px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	color:#FFFFFF;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#adv_search_bar:hover
{
	background-image:url(../images/adv_search_bar_b.png);
	background-repeat:no-repeat;
}
#adv_search_bar img
{
	margin-top:-3px;
	margin-left:708px;
}

#home
{
	overflow:hidden;
	padding-bottom:30px;
}

#adv_search_content
{
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	display:block;
	width:700px;
}

#adv_search_content .text_tr
{
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
	text-align:center;
	display:block;
	color:#858585;
	font-weight:600;
	font-family:SimHei;
	font-size:20px;
}
#adv_search_table_1
{
	display:block;
	margin-top:50px;
}


#copy_statement
{
	margin-top:70px;
	padding-bottom:200px;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}